<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="connection.url">jdbc:jtds:sqlserver://localhost:1433/classMgt</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">123456</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<mapping class="cmw.models.Position" />
		<mapping class="cmw.models.Person" />
		<mapping class="cmw.models.Mentor" />
		<mapping class="cmw.models.Timetable" />
		<mapping class="cmw.models.Course" />
		<mapping class="cmw.models.Point" />
		<mapping class="cmw.models.Subject" />
		<mapping class="cmw.models.Class_Mentor" />
		<mapping class="cmw.models.Class" />
		<mapping class="cmw.models.User" />
	</session-factory>
</hibernate-configuration>